:root {
  --color-grey-90: #f3f3f3;
  --color-grey-80: #d3d3d3;
  --color-grey-70: #b3b3b3;
  --color-grey-60: #939393;
  --color-grey-50: #737373;
  --color-grey-40: #535353;
  --color-grey-30: #333333;
  --color-grey-20: #131313;
}
